body {
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  line-height: 1.6;
}

header {
  margin-bottom: 80px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2em;
}

h2 {
  margin-bottom: 40px;
}

.project {
  margin-bottom: 60px;
}

footer {
  margin-top: 100px;
  font-size: 0.9rem;
}
a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:hover {
  opacity: 0.7;
}
